<p id="notice"><%= notice %></p>
<%= link_to 'Back to home', user_profiles_path %>

<div class= "row">

    <div class="card col l6  m8 s12 offset-s6 offset-m2 offset-l3">
      <div class="">
        <p><%=@user_profile.name%></p>
        <p><%=@user_profile.hometown%></p>

        <div class="card-image">
          <div class ="image-style">
            <% @user_profile.images.each do |image| %>
            <br>
            <br>
            <br>
            <br>
            <%= image_tag(image.url, class:"design") %>

          </div>
        </div>

        <div class="card-content">
          <p><a href="<%= @user_profile.instagram %>"><i class="fa fa-instagram" aria-hidden="true"></i></a><p>
          <p><a href="<%= @user_profile.portfolio %>"><i class="fa fa-desktop" aria-hidden="true"></i></a><p>



        <div class="card-action">
          <% if @user_profile.user == current_user %>
          <p><%= link_to "Edit", edit_user_profile_path(@user_profile) %></p>
          <p><%= link_to "Delete", user_profile_path(@user_profile), method: :delete%></p>
          <% end %>
          <p><%= button_to 'Add to Cart', line_items_path(user_profile_id: @user_profile) %></p>
          <p><%= link_to 'Message Designer', conversations_path %></p>



        </div>
        </div>
        <% end %>

      </div>
      </div>
    </div>

    </div>
